<div class="container">
  <div class="row bio" id="about" data-spy="scroll" data-target="#siteNav" data-offset="10">
    <div class="col-xs-12 col-md-7">
      <h3>Our Story</h3>
      <p class="lead">Building in 'The Bay' since 2002 JK Building prides itself on delivering quality workmanship in producing an end product that clients are wrapped to be able to call their own. While the majority of our work is in the 'new home' or 'alteration/renovation' space we are happy to work on building projects of any nature. If you're after a quality build delivered by an experienced carpenter who understands all aspects of the build process, we'd love to hear from you.</p>
    </div>
    <div class="col-xs-12 col-md-5 company-logo">
      <img src="../../../assets/images/jklogo-600w.png" alt="company logo">
    </div>
  </div>
</div>
