  <div class="container-fluid">
    <div class="row contact" id="contact" data-spy="scroll" data-target="#siteNav" data-offset="10">
      <div class="col-xs-12 col-sm-5 company-logo-gold">
        <img src="../../../assets/images/test.png" alt="company logo" class="img-fluid">
      </div>
      <div class="col-xs-12 col-sm-7 contact-right">
        <h1>James Bell</h1>
        <h3>REGISTERED CERTIFIED CARPENTER</h3>
        <br>
        <div class="contact-item">
          <span><fa-icon [icon]="faMobile"></fa-icon> 
            <a href="tel:{{ location.phoneNumber }}"> {{ location.phoneNumber }}</a>
          </span>
        </div>
        <div class="contact-item">
          <span><fa-icon [icon]="faEnvelopeOpen"></fa-icon> 
           <a href="mailto:james@jkbuilding.co.nz?subject=Web Query"> james@jkbuilding.co.nz</a>
         </span> 
        </div>
        <div class="contact-item">
          <span><fa-icon [icon]="faFax"></fa-icon> 07 5755 896</span>
        </div>
        <br>
        <address class="contact-item">
          PO Box 14421,
          Tauranga
        </address>
      </div>
    </div>
  </div>